@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    background: #18181d;
}
  
::-webkit-scrollbar-thumb {
    background: #6580b1;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #7298da;
}

.blog-md li {
    list-style-type: disc;
    margin-left: 20px;
}

.blog-md h1 {
    margin-left: 10px;
}

.blog-md blockquote {
    border-left: 8px solid grey;
    color: grey;
    padding-left: 10px;
    display: inline-block;
}